<div class="container">

    <h1>Student Management Dashboard</h1>

    <div class="card-container">

        <div class="card">
            <h2>Total Students</h2>
            <h1>{{dashboard.totalStudents}}</h1>
        </div>

        <div class="card">
            <h2>Total Courses</h2>
            <h1>{{dashboard.totalCourses}}</h1>
        </div>

        <div class="card">
            <h2>Male Students</h2>
            <h1>{{dashboard.totalMaleStudents}}</h1>
        </div>

        <div class="card">
            <h2>Female Students</h2>
            <h1>{{dashboard.totalFemaleStudents}}</h1>
        </div>

    </div>

    <br><br>

    <button routerLink="/students">
        Student Management
    </button>

</div>